@import "../../index.scss";

.background {
    padding: 0 50px;
    .container {
        display: flex;
        position: relative;
        flex-direction: row-reverse;
        padding-top: 50px;
        padding-bottom: 100px;
        @include xs {
            display: block;
            padding: 0;
            padding-bottom: 90px;
            height: 100%;
        }
        @media screen and(min-width: 1900px) {
            padding-bottom: 200px;
        }
    }
    @media screen and(min-width: 1900px) {
        margin-top: 100px;
    }
    @include xs {
        margin-top: 50px;
    }
}

.background__img {
    width: 45%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    img {
        width: 80%;
    }
    @media screen and(min-width: 1900px) {
        img {
            width: 100%;
        }
    }
    @include md {
        img {
            width: 120%;
        }
    }
    @include sm {
        img {
            width: 135%;
        }
    }
    @include xs {
        width: 100%;
        img {
            width: 70%;
        }
    }
}

.background__content {
    width: 55%;
    padding: 100px 100px 0 0;
    display: flex;
    flex-direction: column;
    @include md {
        padding-right: 0;
        padding-left: 50px;
    }
    @include xs {
        width: 100%;
        padding-top: 0;
        padding-left: 0;
        justify-content: center;
    }
    @media screen and(max-width: 1280px) {
        padding-top: 70px;
    }

    h1 {
        justify-content: flex-start;
        width: 300px;
        margin-left: 60px;
        margin-bottom: 68px;
        @media screen and(max-width:1450px) {
            font-size: 40px;
        }
        @include md {
            font-size: 35px;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }
        @include xs {
            margin-bottom: 50px;
        }
    }
}

.bacground__content-item {
    display: flex;
    align-items: center;
    margin-bottom: 75px;
    .time {
        background: $linear-cl;
        span {
            font-size: 12px;
            @include size(110px, 45px);
            @include mid(true);
        }
        &.new {
            border: 3px solid transparent;
            background: linear-gradient(to right, $body-cl, $body-cl), $linear-cl;
            background-clip: padding-box, border-box;
            background-origin: padding-box, border-box;
        }
        @include md {
            span {
                @include size(100px, 35px);
            }
        }
    }
    img {
        margin: 0 23px;
    }
    p {
        font-size: 14px;
        @include sm {
            font-size: 13px;
        }
        @include xs {
            font-size: 12px;
        }
    }

    .march {
        p {
            margin-bottom: 10px;
        }
        span {
            color: #00ffe6;
        }
    }
    @include xs {
        margin-bottom: 40px;
    }
}
