@import "../../index.scss";

.project {
    padding: 0 50px;
    .container {
        position: relative;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 320px;
        padding-right: 320px;
        @media screen and(min-width: 1900px) {
            padding-left: 270px;
        }
        @media screen and(max-width: 1670px) {
            padding-left: 230px;
            padding-right: 230px;
        }

        @media screen and(max-width: 1550px) {
            padding-left: 200px;
            padding-right: 200px;
        }
        @media screen and(max-width: 1415px) {
            padding-left: 100px;
            padding-right: 100px;
        }
        @include md {
            padding-left: 40px;
            padding-right: 40px;
        }
        @include sm {
            padding-left: 30px;
            padding-right: 30px;
        }
        @media screen and(max-width: 980px) {
            height: 100vh;
        }
        @include xs {
            height: 100%;
        }
    }
    @media screen and(min-width: 1900px) {
        margin-top: 100px;
    }
    @include xs {
        margin-top: 50px;
    }
    @include xxs {
        margin-top: 0;
        padding: 0 10px;
    }
}

.project__title {
    display: flex;
    align-items: center;
    img {
        margin-top: 15px;
        margin-right: 20px;
    }
    @media screen and(max-width: 1550px) {
        h1 {
            font-size: 40px;
        }
    }
    @include md {
        h1 {
            font-size: 35px;
        }
    }
    @include sm {
        h1 {
            font-size: 28px;
        }
    }
    @include xs {
        justify-content: center;
        img {
            display: none;
        }
    }

    @include xxs {
        h1 {
            font-size: 26px;
        }
        img {
            display: none;
        }
    }
}

.project__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
    @media screen and(max-width: 980px) {
        display: block;
    }
}

.project__wrap-item {
    .img {
        img {
            width: 100%;
        }
    }
    .name {
        margin-top: 20px;
        text-align: center;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        span {
            margin-bottom: 5px;
        }
    }
    @include xs {
        &:not(:last-child) {
            margin-bottom: 60px;
        }
    }
}

.project__wrap-left {
    @include flex(space-between, center);
    flex-wrap: wrap;
    width: 68%;
    .project__wrap-item {
        width: calc((100% / 3) - 2.5rem);
        &:last-child {
            margin-top: 50px;
            width: 47%;
            position: relative;
            .more {
                position: absolute;
                bottom: 110px;
                right: -560px;
                @include mid(true);
                width: 540px;

                P {
                    font-size: 12px;
                    margin: 0 15px;
                }
                @media screen and(max-width: 980px) {
                    display: none;
                }
                @include xs {
                    width: 350px;
                    right: -270px;
                    bottom: -90px;
                }
                @include xxs {
                    flex-direction: column;
                    bottom: -100px;
                    p {
                        margin: 20px 0;
                    }
                }
            }
            @include sm {
                margin: 80px 0;
            }
            @include xs {
                margin-top: 0;
                margin-bottom: 60px;
            }
            @media screen and(max-width: 980px) {
                @include flex(center, center, column);
                width: 100%;
                // .img {
                //     width: 80%;
                // }
            }
        }
        @include md {
            width: calc((100% / 3) - 1.5rem);
        }
        @include sm {
            width: calc((100% / 3) - 1rem);
        }
        @include xs {
            @include flex(center, center, column);
            width: 100%;
        }
    }
    @media screen and(max-width: 980px) {
        width: 100%;
    }
    @include xs {
        .img {
            width: 100%;
        }
    }
}

.project__wrap-right {
    width: 28%;
    .project__wrap-item {
        .img {
            width: 100%;
        }
    }
    @media screen and(max-width: 980px) {
        @include mid(true);
        width: 100%;
        .project__wrap-item {
            width: 100%;
        }
    }
}
