@-ms-viewport {
    width: device-width;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: antialiased;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: none;
    @include md {
        cursor: auto;
    }
}
html,
body {
    width: 100%;
    background-color: $body-cl;
    max-width: $container-max-width;
    margin: auto;
    @include text($fz-text, $lh-text, $text-cl, none, normal, $font-main);
    scroll-behavior: smooth;
    position: relative;
    z-index: 1;
    @include customscroll(4px, #000, $primary-cl);

    @media screen and(min-width: 1281px) {
        overflow: hidden;
    }

    .container {
        width: 100%;
        padding-left: $container-padding;
        padding-right: $container-padding;
        margin-right: auto;
        margin-left: auto;
        height: 895px;
        @media screen and(max-width: 1280px) {
            height: 800px;
        }
        .line-right {
            right: 0;
            position: absolute;
            @include abCenter(top);

            @include xs {
                display: none;
            }
        }
        .line-left {
            left: 0;
            position: absolute;
            @include abCenter(top);

            @include xs {
                display: none;
            }
        }

        @include xs {
            height: 100vh;
            padding-left: $container-mb-padding;
            padding-right: $container-mb-padding;
        }
    }
    .container-fluid {
        width: 100%;
        padding-right: $container-fluid-padding;
        padding-left: $container-fluid-padding;
        margin-right: auto;
        margin-left: auto;
        @include xs {
            padding-right: $container-mb-padding;
            padding-left: $container-mb-padding;
        }
    }
    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .no-gutters {
        margin-right: 0;
        margin-left: 0;
    }
    .no-gap > .col,
    .no-gap > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }

    @media (min-width: $xxs-min) {
        .container {
            max-width: 680px;
        }
    }
    @media (min-width: $xs-min) {
        .container {
            max-width: 880px;
        }
    }
    @media (min-width: $sm-min) {
        .container {
            max-width: 960px;
        }
    }
    @media (min-width: $md-min) {
        .container {
            max-width: $container-width;
        }
    }

    .mainwrapper {
        width: 100%;
        margin: auto;
        @include visible;
    }

    .action {
        display: flex;
        align-items: center;

        & > * ~ * {
            margin-left: 30px;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: $primary-cl !important;
        @include xs {
            display: none;
        }
    }

    .centered {
        margin: 10rem auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.title {
    font-size: 54px;
    font-family: "Geomanist Bold";
    @include mid(true);
    color: rgba(0, 0, 0, 0);
    background: $linear-cl;
    -webkit-background-clip: text;
}

.cursor {
    background-color: $white-cl;
    @include size(30px);
    border: 2px solid $white-cl;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99;
    mix-blend-mode: difference;
    @include md {
        display: none;
    }
}

.box {
    position: relative;
    @include mid(true);
    margin-left: 23px;
    transition: all $t;
    .image-hover {
        @include abCenter(top);
        opacity: 0;
        transition: all $t;
    }
    &:hover img {
        opacity: 0;
    }
    &:hover .image-hover {
        opacity: 1;
    }
}
