@import "../../index.scss";

.header__navbar {
    width: 100%;
    @include flex(space-between, center);
    padding: 1rem 2rem;
    z-index: 100;
    @include xs {
        padding: 0;
    }
}

.header__navbar-logo {
    @include flex(flex-start, center);
    img {
        @include size(130px, 50px);
        transition: opacity 0.3s;
        @include xs {
            @include size(100px, 45px);
        }
    }
}

.header__navbar-links {
    @include mid(true);
    li {
        margin: 0 4rem;

        cursor: pointer;
        @include mid(true);
        flex-direction: column;
        a {
            display: inline-block;
            flex-direction: column;
            color: $white-cl;
            font-size: 17px;
            background: $linear-cl;
            -webkit-background-clip: text;
            transition: all 0.3s;
            &:hover {
                color: rgba(0, 0, 0, 0);
                font-weight: bolder;
                @include transform(scale(1.2));
                transition: all 0.3s;
            }
            &.active {
                font-weight: bolder;
                color: rgba(0, 0, 0, 0);
                background: $linear-cl;
                -webkit-background-clip: text;
                @include transform(scale(1.2));
            }
        }
    }
    @media screen and (max-width: 1580px) {
        li {
            margin: 0 2rem;
            a {
                font-size: 17px;
            }
        }
    }
    @include md {
        display: none;
    }
}

.header__navbar-tool {
    @include flex(true);
    form {
        @include mid(true);
        position: relative;

        &:hover input {
            width: 200px;
            background: linear-gradient(to right, $body-cl, $body-cl), $linear-cl;
            background-clip: padding-box, border-box;
            background-origin: padding-box, border-box;
            padding: 5px 10px 5px 40px;
            transition: all $t;
        }

        &:hover .search-button {
            filter: brightness(100%) invert(0);
            transition: all $t;
        }

        & .search-button {
            left: 10px;
            @include abCenter(top);
            filter: brightness(0) invert(1);
            transition: all $t;
        }
        input {
            @include size(40px);
            border-radius: 25px;
            color: white;
            outline: 0;
            border: 3px solid transparent;
            background: transparent;
            border-radius: 20px;
            transition: all $t;
        }
        @media screen and (max-width: 1580px) {
            &:hover input {
                width: 150px;
            }
        }
    }
    img {
        @include size(25px);
        transition: all $t;
    }
    @include md {
        .box {
            display: none;
        }
    }
}

.header__navbar-menu {
    margin-left: 23px;
    @include mid(true);
    cursor: pointer;
    svg {
        @include size(25px);
    }

    div {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        transform: translateX(100%);
        background: $body-cl;
        transition: all $t;
        svg {
            @include size(35px);
            margin: 0.5rem 1rem;
        }

        ul {
            @include size(70vw, 60vh);
            @include flex(flex-start, flex-start, column);
            padding: 30px;
            li {
                padding: 1rem;
                margin-bottom: 3rem;
                width: 100%;
                a {
                    color: $white-cl;
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 500;
                }
            }
            @include xs {
                height: 100%;
            }
        }

        @media screen and(min-width: 1200px) {
            display: none;
        }
    }

    @media screen and(min-width: 1200px) {
        display: none;
    }
}
